{% extends "base.html" %} {% block content %} {% load static %}
<link href="{% static 'css/table.css' %}" rel="stylesheet" />
<div class="container d-flex flex-column align-items-center mt-4">
  <h1 class="mb-4 text-center">Carriers List</h1>
  <a href="{% url 'carrier_create' %}" class="btn btn-outline-success mb-5">
    <i class="fas fa-plus me-2"></i> Create New Carrier
  </a>

  {% if messages %}
  <div class="alert alert-success text-center w-75 mb-3" role="alert">
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="col-12 col-xl-10">
    <div class="card shadow-sm border-0">
      <div class="card-body p-0">
        <div class="scroll-container">
          <table class="sim-table">
            <thead>
              <tr>
                <th><i class="fas fa-fingerprint me-2"></i>Name</th>
                <th><i class="fas fa-microchip me-2"></i>Code</th>
                <th><i class="fas fa-signal me-2"></i>Stataus</th>
                <th><i class="fas fa-fire me-2"></i>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for carrier in carriers %}
              <tr>
                <td class="text-center">{{ carrier.name }}</td>
                <td class="text-center">{{ carrier.code }}</td>
                <td class="text-center">
                  {% if carrier.is_active %}
                  <span class="badge bg-success">Active</span>
                  {% else %}
                  <span class="badge bg-danger">Inactive</span>
                  {% endif %}
                </td>
                <td class="text-center">
                  <div class="d-flex justify-content-center gap-2">
                    <a
                      href="{% url 'carrier_update' carrier.pk %}"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      <i class="fas fa-edit"></i> Edit
                    </a>
                    <a
                      href="{% url 'carrier_delete' carrier.pk %}"
                      class="btn btn-sm btn-outline-danger"
                    >
                      <i class="fas fa-trash"></i> Delete
                    </a>
                    <a
                      href="{% url 'carrier_detail' carrier.pk %}"
                      class="btn btn-sm btn-outline-primary"
                    >
                      <i class="fas fa-eye"></i> Details
                    </a>
                  </div>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="4" class="text-center">
                  <div class="alert alert-warning text-center" role="alert">
                    No carriers found
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
